GomokuMatchMaker/packages/
GomokuServer/packages/
GomokuClient/packages/
*.db
*.iobj
*.ipdb
*.opendb
/GomokuClient/GomokuClient/x64/Debug
/GomokuClient/x64
bin/FlexMatch/GomokuServer/vc_redist.x64.exe
GomokuClient/.vs/
GomokuServer/x64
GomokuServer/GomokuServer/x64
GomokuServer/GomokuServer.sdf
GomokuClient/GomokuClient.sdf
GomokuServer/GomokuServer.opensdf
GomokuClient/ipch/
GomokuServer/.vs/
GomokuServer/ipch/
